<section>
    <h2>Add Book</h2>
    <form action="/book/addBook" method="post">
        <label  for="title"><span class="addBookTitleLabel">Title</span>
            <input class="addBookTitle" type="text" id="title" name="title">
        </label>
        <label for="genre"><span class="addBookGenreLabel">Genre</span><br/>
            <select class="addBookGenre" name="genre_id" id="genre">
                {{#each genres}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </label>
        <label for="description"><span class="addBookDescriptionLabel"> Description</span>
            <input class="addBookDescription" type="text" id="description" name="description">
        </label>
        <label for="cover_url"><span class="addBookCoverUrlLabel">Cover Picture URL</span>
            <input class="addBookCoverUrl" type="url" id="cover_url" name="cover_url">
        </label>
        <label for="author"><span class="addBookAuthorLabel">Author</span><br/>
            <select class="addBookAuthor" name="author" id="author">
                {{#each authors}}
                    <option value="{{this.id}}">{{this.first_name}} {{this.last_name}}</option>
                {{/each}}
            </select>
        </label>
        <input class="addBookSubmit" type="submit" value="Add Book">
    </form>
</section>
