<h2>{{author.first_name}} {{author.last_name}}</h2>
<img src="{{author.portrait_url}}" />
<p>
    {{author.biography}}
</p>
<a href="/author/{{author.id}}/edit"><i class="fa fa-edit"></i></a>
<a href="/author/{{author.id}}/delete"><i class="fa fa-remove"></i></a>
<a href="/author">See All Authors</a>
