<h2>{{author.first_name}} {{author.last_name}}</h2>
<img src="{{author.portrait_url}}" />
<p>
    {{author.biography}}
</p>
<h3>Books:</h3>
{{#each books}}
    <a href="/book/{{this.id}}"><p>
        {{this.title}}
    </p></a>
{{/each}}
<a href="/author/{{author.id}}/edit"><i class="fa fa-edit"></i></a>
<a href="/author/{{author.id}}/confirmDelete"><i class="fa fa-remove"></i></a>
<a href="/author">See All Authors</a>
