<h2>Books</h2>
<ul class="books">
    {{#each books}}
        <div class='book'>
            <img class="bookPicture" src="{{this.cover_url}}"></img>
            <li>{{this.title}}</li>
            <li>{{this.name}}</li>
            <li>{{this.description}}</li>
            <a href="/book/delete/{{this.book_id}}"><i class="fa fa-remove"></i></a>
        </div>
    {{/each}}
</ul>
<a class="addabook" href="/book/addBook">Add a Book</a>
