<h2>Books</h2>
<ul class="books">
    {{#each data}}
        <div class='book'>
            <a href="/book/{{this.book_id}}"><img class="bookPicture" src="{{this.cover_url}}"></img></a>
            <li>{{this.title}}</li>
            <li>{{this.name}}</li>
            <li>{{this.description}}</li>
            <h3>Authors:</h3>
            {{#each authors}}
                <a href="/author/{{this.id}}">{{this.name}}</a>
            {{/each}}
            <a href="/book/{{this.book_id}}/edit"><i class="fa fa-edit"></i></a>
            <a href="/book/{{this.book_id}}/confirmDelete"><i class="fa fa-remove"></i></a>
        </div>
    {{/each}}
</ul>
<p>
    There are {{dataLength}} books in this library!!!
</p>
<a href="/book/addBook">Add a Book</a>
