<h2>Books</h2>
<form class="" action="/book/page/0" method="GET">
    <label for="bookSearch">Search for a book:
        <input type="text" name="bookSearch" id="bookSearch" placeholder="Search for a book">
    </label>
    <input type="submit" name="name" value="Submit">
</form>
<form class="" action="/book/page/0" method="GET">
    <label for="genre">Genre Filter:
        <select class="" name="genre" id="genre">
            <option value="Javascript">Javascript</option>
            <option value="Python">Python</option>
        </select>
    </label>
    <input type="submit" name="name" value="Submit">
</form>
<div class="books">
    {{#each data}}
        <div class='book'>
            <div>
                <a href="/book/{{this.book_id}}"><img class="bookPicture" src="{{this.cover_url}}"></img></a>
            </div>
            <div>
                <p class="title">{{this.title}}</p>
                <p class="genre">{{this.name}}</p>
                <p class="description">{{this.description}}</p>
                <h3>Authors:</h3>
                {{#each authors}}
                    <a class="bookAuthor" href="/author/{{this.id}}">{{this.name}}</a><br/>
                {{/each}}
                <a href="/book/{{this.book_id}}/edit"><i class="fa fa-edit edit"></i></a>
                <a href="/book/{{this.book_id}}/confirmDelete"><i class="fa fa-remove remove"></i></a>
            </div>
        </div>
    {{/each}}
</div>
<p class="bookAmount">
    There are {{dataLength}} books shown!!!
</p>
{{#each bookArrays}}
    <a href="/book/page/{{@index}}">Page {{@index}}</a>
{{/each}}
<a class="addBook" href="/book/addBook">Add a Book</a>
