<h2>Books</h2>
<ul class="books">
    {{#each books}}
        <div class='book'>
            <a href="/book/{{this.book_id}}"><img class="bookPicture" src="{{this.cover_url}}"></img></a>
            <li>{{this.title}}</li>
            <li>{{this.name}}</li>
            <li>{{this.description}}</li>
            <a href="/book/{{this.book_id}}/edit"><i class="fa fa-edit"></i></a>
            <a href="/book/{{this.book_id}}/delete"><i class="fa fa-remove"></i></a>
        </div>
    {{/each}}
</ul>
<a href="/book/addBook">Add a Book</a>
