<h2>Books</h2>
<h3>Search for a book by title or genre:</h3>
<form class="bookForm" action="/book/page/0" method="GET">
        <input type="text" name="bookSearch" id="bookSearch" placeholder="Search for a book" class="bookSearch">
        <select name="genre" class="bookGenre">
          <option value="Javascript">Javascript</option>
          <option value="Python">Python</option>
        </select>
        <input type="submit" name="name" value="Submit" class="bookSearchSubmit">
</form>
<div class="books">
    {{#each data}}
        <div class='book'>
            <div>
                <a href="/book/{{this.book_id}}"><img class="bookPicture" src="{{this.cover_url}}"></img></a>
            </div>
            <div>
                <p class="title">{{this.title}}</p>
                <p class="genre">{{this.name}}</p>
                <p class="description"><span class="descriptionHeader">Description:</span><br/> {{this.description}}</p>
                <p class="authorHeader">Authors:</p>
                {{#each authors}}
                    <a class="bookAuthor" href="/author/{{this.id}}">{{this.name}}</a><br/>
                {{/each}}
                <a href="/book/{{this.book_id}}/edit"><i class="fa fa-edit edit"></i></a>
                <a href="/book/{{this.book_id}}/confirmDelete"><i class="fa fa-remove remove"></i></a>
            </div>
        </div>
    {{/each}}
</div>
<p class="bookAmount">
    There are {{dataLength}} books shown!!!
</p>
{{#each bookArrays}}
    <a class="pageLink" href="/book/page/{{@index}}">Page {{@index}}</a>
{{/each}}
<br/>
<a class="addBook" href="/book/addBook">
    <div class="addBookContainer">
        Add a Book
    </div>
</a>
