<div class="details">
    <h2 class="title">{{book.title}}</h2>
    <img class="bookPictureBig" src="{{book.cover_url}}" />
    <p class="detailDescription">
        {{book.description}}
    </p>
    <p class="detailGenre">
        Genre: {{book.name}}
    </p>
    <p class="detailAuthorLabel">Authors:</p>
    {{#each authors}}
        <a class="detailAuthor" href="/author/{{this.id}}"><p>
            {{this.first_name}} {{this.last_name}}
        </p></a>
    {{/each}}
    <a href="/book/{{book.book_id}}/edit"><i class="fa fa-edit edit detailEdit"></i></a>
    <a href="/book/{{book.book_id}}/confirmDelete"><i class="fa fa-remove remove detailRemove"></i></a>
</div>
<a href="/book/page/0"><div class="seeAllBooks">See All Books</div></a>
