<h2>{{book.title}}</h2>
<img src="{{book.cover_url}}" />
<p>
    {{book.description}}
</p>
<p>
    Genre: {{book.name}}
</p>
<h3>Authors:</h3>
{{#each authors}}
    <a href="/author/{{this.id}}"><p>
        {{this.first_name}} {{this.last_name}}
    </p></a>
{{/each}}
<a href="/book/{{book.book_id}}/edit"><i class="fa fa-edit"></i></a>
<a href="/book/{{book.book_id}}/delete"><i class="fa fa-remove"></i></a>
<a href="/book">See All Books</a>
